/* style.css */

body {
  font-family: 'Open Sans', sans-serif;
  color: #404042;
  font-size: 18px;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Proza Libre', sans-serif;
}

a {
  color: #D2BDA9;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #D2BDA9;
}

/* Style */

.banner {
  background-image: url(images/background.jpg);
  text-align: center;
  color: white;
  padding: 100px 0;
}

.container {
  padding: 100px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card {
  box-shadow: 2px 2px 5px 0px rgba(74,74,74,1);
  border-radius: 5px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card h3 {
  padding-left: 10px;
}

.footer {
  background-color: #4A4A4A;
  text-align: center;
  color: white;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
}
